/* Show and hide the close button */
.father-btn .show-it {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.father-btn:hover .show-it {
    opacity: 1;
}

/* set style size of the footer text */
.textfooter {
    font-size: small;
}